//Variables de colores a usar en la app

$red: #bd3736;
$black: #000000;
$white: #fcfcfc;
$purple: #6f3f9e;
$green: #29e629;
$orange: #ec8e41;
$grey: #444444;
$name: rgb(249,248,192);
$type: rgb(164,165,143);
$marco: rgb(190, 183, 48);
$abil: #d26aec;
$blue: #092436;